html
    head
        title Agendamento
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
             integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
             rel='stylesheet'
             id='bootstrap-css'
             crossorigin='anonymous')

    body
        .card.panel-default
            .card-header
                h3 Need a Doc - Agendamento
            .card-header Preencha o formulário para agendar uma consulta
            .card-body
                form(action='/appointment' method='POST')
                    .col-4.nopadding.form-group
                        label(for='name') Nome Completo
                        input.form-control(type='text' id='name' name='name' placeholder='Entre seu nome' required)

                    .col-4.nopadding.form-group
                        label(for='email') Email
                        input.form-control(type='email' id='email' name='email' placeholder='Entre seu email' required)

                    .col-4.nopadding.form-group
                        label(for='phone') Telefone
                        input.form-control(type='number' id='phone' name='phone' placeholder='Somente números' required)

                    .col-4.nopadding.form-group
                        label(for='date') Data
                        // TODO: min date
                        input.form-control(type='date' id='date' name='date' min='2018-08-19' required)

                    .form-group
                        button.btn.btn-primary(type='submit') Escolher Horário

            .card-footer
